// other styles -> @/assets/styles/font-icons.scss

.app-icon {
  &--rotate {
      transform: rotate(180deg);
  }

  &--size {
    &--xxs {
      font-size: 9px;
    }

    &--xs {
      font-size: 11px;
    }

    &--xs-plus {
      font-size: 12px;
    }

    &--s {
      font-size: 13px;
    }

    &--m {
      font-size: 15px;
    }

    &--l {
      font-size: 17px;
    }

    &--xl {
      font-size: 19px;
    }

    &--xxl {
      font-size: 21px;
    }
  }

  &--cursor {
    &--grab {
      cursor: grab;
    }
  }
}
