<div class="table">
  <header class="table__header">
    <span class="table__save-button"> Сохранить изменения </span>
    <!-- <settings-columns :settingsList="rowsTable" /> -->
    Настройки
  </header>

  <table class="table__table">
    <thead>
      <tr class="table__table-row">
        <th
          v-for="(header, index) in headers"
          class="table__table-th"
          :data-header-index="index"
          draggable="true"
          @dragstart="dragStartHeader"
          @dragover="dragOverPrevent(isDraggingRow)"
          @dragenter="dragEnterHeader"
          @dragleave="dragLeaveHeader"
          @dragend="dragEndHeader"
          @drop="dragDropHeader"
        >
          {{ header.value }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr
        v-for="(row, indexRow) in rows"
        :key="row.id"
        class="table__table-row table__table-row--tbody"
        :data-row-index="indexRow"
        draggable="true"
        @dragstart="dragStartRow"
        @dragover="dragOverPrevent(isDraggingHeader)"
        @dragenter="dragEnterRow"
        @dragend="dragEndRow"
      >
        <td
          v-for="(column, indexColumn) in row.columns"
          :class="[
            'table__table-td',
            { 'table__table-td--remove-cell':  column.id === 2},
          ]"
          :data-column-index="indexColumn"
          ref="tableTd"
        >
          <template v-if="column.id === 1">
            <app-icon icon="menu" size="xs-plus" cursor="grab" />
            {{ indexRow + 1 }}
          </template>

          <remove-cell
            v-if="column.id === 2"
            @removeRow="removeRow(indexRow)"
          />

          <select v-if="column.id === 3" :value="column.value">
            <option v-for="option in optionsNameOne">{{ option }}</option>
          </select>

          <input v-if="column.id === 4" :value="column.value" />
          <input v-if="column.id === 5" :value="column.value" />

          <select v-if="column.id === 6" :value="column.value">
            <option v-for="option in optionsNames">{{ option }}</option>
          </select>

          <input v-if="column.id === 7" :value="column.value" />
        </td>
      </tr>
    </tbody>
  </table>

  <div class="table__total table-total">
    <div class="table-total__block">
      <div class="table-total__item">
        <span class="table-total__title">Сумма:</span>
        <span>$ 152 212</span>
      </div>

      <div class="table-total__item">
        <span class="table-total__title">Кол-во:</span>
        <span>24 шт</span>
      </div>

      <div class="table-total__item">
        <span class="table-total__title">Общий вес:</span>
        <span>2 322 кг</span>
      </div>
    </div>

    <div class="table-total__block table-total__total">
      <span class="table-total__title table-total__title--color--black"
        >Общая сумма:
      </span>

      <span class="table-total__total-sum">$ 152 212</span>
    </div>
  </div>
</div>
