.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 229px;
  padding: 10px 15px;
  color: $white;
  background-image: radial-gradient(circle at 29% 0, $black, #1c2734 103%);

  .router-item-list {
    &:hover {
      color: $hover-main-menu;
      transition: color $transition-default-time ;
    }
  }

  .router-item-list__link {
    padding: 5px 0;
  }
}
