$black: #000;
$white: #fff;
$dark-grey: #8f8f8f;
$blue-grey: #a6b7d4;
$grey: #eeeff1;
$grey-1: #fbfcfd;
$grey-2: #eef3f8;
$blue: #2f8cff;
$dark-blue: #1253a2;

$background-main: $grey-1;

$text-main: $black;
$text-second: $dark-grey;

$border-block: $grey;

$hover-main-menu: $dark-blue;
$hover-list-item: $grey-2;