<nav class="submenu submenu--mt-20">
  <ul class="submenu__list">
    <submenu-Item-list
      v-for="item in listItems"
      :key="item.title"
      :item="item"
    />
  </ul>

  <settings-columns :settingsList="listItems" />
</nav>

<!-- <nav class="submenu submenu--mt-20">
  <ul class="submenu__list">
    <app-list-item
      v-for="(name, index) in listNames"
      :key="name"
      :routeName="name"
      :data-index="index"
      draggable="true"
    />
  </ul>

  <app-icon icon="gear" />
</nav> -->
