.submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--mt-20 {
    margin-top: 20px;
  }

  &__list {
    display: flex;
    font-weight: 600;
    color: $dark-blue;

    .submenu-item-list {
      &:not(:first-child) {
        margin-left: 20px;
      }

      &__link {
        padding: 5px 0;
      }
    }
  }
}
