.app-button {
  display: flex;
  align-items: center;
  min-width: 146px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color, $transition-default-time;

  &:hover {
    background-color: $dark-blue;
  }

  &--delete-button {
    box-shadow: $default-shadow-border;

    &:hover {
      background-color: $red;
      color: $white;
      box-shadow: 0 0 3px 0 transparent,
    }
  }

  &--color {
    &--white {
      color: $white;
    }

    &--red {
      color: $red;
    }
  }

  &--bg-color {
    &--blue {
      background-color: $blue;
    }

    &--white {
      background-color: $white;
    }
  }

  .app-icon + .app-button__text {
    margin-left: 7px;
  }
}