.settings-columns {
  $padding-item: 7px 10px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;

  &__list {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(calc(100% + 3px));
    border-radius: 5px;
    box-shadow: 0 0 3px 0 $black, inset 0 1px 2px 0 rgba($white, 0.5);
    background-color: $white;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 191px;
    padding: 7px 10px;
    font-size: 14px;
    color: $black-1;
    cursor: pointer;
    transition: background-color $transition-default-time;

    &:first-of-type {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-of-type {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      background-color: $hover-list-item;
    }

    &--jc-left {
      justify-content: flex-start;
    }

    &--padding-0 {
      padding: 0;;
    }

    &--drag-item {
      cursor: grab;

      .app-icon {
        cursor: inherit;
      }
    }

    &--dragover {
      color: $white;
      background-color: $dark-blue;
    }
  }

  &__text {
    margin-right: 9px;

    &--title {
      margin-right: 0;
      margin-left: 9px;
    }

    &--mr-0 {
      margin-right: 0;
    }
  }

  &__checkbox {
    margin-right: 9px;
  }

  &__label {
    flex-grow: 1;
    padding: $padding-item;
  }
}
